<% provide(:title) %>
 <div class="row">
 <aside class="span4">
 <section>
 <h1>
 <% @users.each do |user|%>
 <p><%= gravatar_for user %></p>
 <p><%=link_to user.email, user%></p>
 <%end%> 
 </h1>
 </section>
 </aside>