<% provide(:'All User') %>
 <h1>All users</h1>
 <%=will_paginate%>
 
<ul class="users">
 <% @users.each do |user|%>
 <p><%= gravatar_for user %></p>
 <p><%=link_to user.email, user%></p>
 <% end %> 

</ul>
 <%=will_paginate%>

