<div class="row">
<br><br>
<h1>My Post</h1><br>
<%=render 'sidebar'%>
<div class="col-sm-6 navbar">
<% if @user.microposts.any?%>
<h3> Posts (<%=@user.microposts.count%>)</h3>
<ol class="microposts">
<%=render @user.microposts%>

</ol>
<%end%>
</div>
</div>